{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
    <div class="main-content">
        <header class="text-center">
            {{ with .Site.Params.index.picture }}
                <img src="{{ . | urlize | relURL }}" class="text-center index-small">
            {{ end }}
            <h1 class="index-title">{{ .Site.Params.index.title }}</h1>
        </header>
        
        {{- partial "_shared/social.html" . -}}
        
        <hr />

        <section class="text-center">
            {{ with .Site.Params.index.subtitle }}
            <h3 class="index-sub">{{ . }}</h3>
            {{ end }}
            <hr>
            <div class="row">
                {{ with .Site.Params.index.mdtext }}
                <div class="col-sm">
                    {{ . | markdownify }}
                </div>
                {{ end }}
                {{ with .Site.Params.index.mdtext2 }}
                <div class="col-sm">
                    {{ . | markdownify }}
                </div>
                {{ end }}
                {{ with .Site.Params.index.mdtext3 }}
                <div class="col-sm">
                    {{ . | markdownify }}
                </div>
                {{ end }}
            </div>
        </section>
        
        <hr />

        <section class="text-center">
          <div class="row listrecent">
            {{ range first 6 .Site.RegularPages }} {{- partial "list-partials/postbox.html" . -}} {{ end }}
          </div>
          <a href="/posts/" class="btn btn-success">All posts</a>
        </section>
    </div>
    {{ if isset .Site.Params.index "alertbar" }}
    	{{ if .Site.Params.index.alertbar }}
            {{- partial "_shared/alertbar.html" . -}}
        {{ end }}
    {{ end }}
{{end}}

{{ define "footer" }}
    {{- partial "_shared/footer.html" . -}}
{{end}}
